<h1>{{ titulo }}</h1>
<ul>
    <li *ngFor="let tarefa of listaTarefas">
        {{ tarefa.id }}. {{ tarefa.titulo }} | 
        <button *ngIf="!tarefa.concluido" (click)="marcarComoConcluido(tarefa)">CONCLUIR</button> | 
        <button *ngIf="tarefa.concluido" (click)="marcarComoNaoConcluido(tarefa)">REFAZER</button> | 
        <button (click)="excluirTarefa(tarefa)">REMOVER</button>
    </li>
</ul>

<form [formGroup]="form">
    <fieldset>
        <label>Tarefa: </label>
        <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="titulo">
        <small *ngIf="form.controls['titulo'].invalid && !form.controls['titulo'].pristine">Este campo deve conter entre 3 e 60 caracteres</small>
        <button [disabled]="form.invalid">Salvar</button>
    </fieldset>
</form>